<main class="profile">
  <aside class="profile__aside">

  </aside>
<div class="profile__content">
  <div class="profile__container">
<label for="avatar" class="profile__avatar-label"><img src="../../static/empty_avatar.png" /></label>
<input class="profile__avatar-input" class="my" id="avatar" name="avatar" type="file"/>
  </div>
</div>
</main>
