<main class="login">
  <div class="login__container">
    <h1 class="login__header">Вход</h1>
    <form class="login__form">
      <label for="login" class="login__label">Логин</label>
      <input class="login__input" id="login" name="login" type="text" />
      <label for="password" class="login__label">Пароль</label>
      <input class="login__input" id="password" name="password" type="password" />
      <button class="login__button">Логин</button>
      <a class="login__link" href="#">Зарегистрироваться</a>
    </form>
  </div>
</main>
