<main class="login">
  <div class="login__container">
    <h1 class="login__header">Вход</h1>
    <form class="login__form">
      {{> input/index label=login.loginInput.label class=login.loginInput.class type=login.loginInput.type
      name=login.loginInput.name }}
      {{> input/index label=login.passwordInput.label class=login.passwordInput.class type=login.passwordInput.type
      name=login.passwordInput.name }}
      {{> button/index text=login.loginButton.text class=login.loginButton.class type=login.loginButton.type }}
      {{> link/index class=login.loginLink.class href=login.loginLink.href text=login.loginLink.text }}
    </form>
  </div>
</main>
