.profile-sidebar{
  width: 64px;
  background: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px #EAEAEA solid;
  min-height: 100vh;
}

.profile-sidebar__back-button{
  width: 28px;
  height: 28px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
