<main class="signup">
  <div class="signup__container">
    <h1 class="signup__header">Регистрация</h1>
    <form class="signup__form">
      {{> input/index label=signup.emailInput.label class=signup.emailInput.class type=signup.emailInput.type
      name=signup.emailInput.name }}
      {{> input/index label=signup.loginInput.label class=signup.loginInput.class type=signup.loginInput.type
      name=signup.loginInput.name }}
      {{> input/index label=signup.nameInput.label class=signup.nameInput.class type=signup.nameInput.type
      name=signup.nameInput.name }}
      {{> input/index label=signup.surnameInput.label class=signup.surnameInput.class type=signup.surnameInput.type
      name=signup.surnameInput.name }}
      {{> input/index label=signup.phoneInput.label class=signup.phoneInput.class type=signup.phoneInput.type
      name=signup.phoneInput.name }}
      {{> input/index label=signup.passwordInput.label class=signup.passwordInput.class type=signup.passwordInput.type
      name=signup.passwordInput.name }}
      {{> input/index label=signup.repeatPasswordInput.label class=signup.repeatPasswordInput.class
      type=signup.repeatPasswordInput.type
      name=signup.repeatPasswordInput.name }}
      {{> button/index text=signup.signupButton.text class=signup.signupButton.class type=signup.signupButton.type }}
      {{> link/index class=signup.signupLink.class href=signup.signupLink.href text=signup.signupLink.text }}
    </form>
  </div>
</main>
