.chat-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chat-content__empty-message{
  color: #999;
  text-align: center;
  font-size: 12px;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}
