
.newcard{
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex; 
}

/* Testing autoprefixer */

.autoprefixer { 
    display: flex; 
}

label {
    user-select: none;
  }
  
  ::selection {
    color: white;
    background: blue;
  }
  
  ::placeholder {
    color: gray;
  }