<main class="internal-error">
  <h1 class="internal-error__header">404</h1>
  <p class="internal-error__text">Не туда попали</p>
{{> link/index class=internalError.chatLink.class href=internalError.chatLink.href text=internalError.chatLink.text }}
</main>
