.button{
  height: 37px;
  background: $blueColor;
  border-radius: 8px;
  font-family: $fontFamily;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
}
